{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="login_wrapper">
    <div class="container">
        <!-- login -->
        <h2>Log In</h2>
        <form method="POST" class="form">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Log In</button>
            <p class="text-center">Don't have an account? <a href="{% url 'account:signup' %}"> Create an account</a></p>
        </form>
    </div>
</div>

{% endblock %}